@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HeliukBrave';
  src: url('/fonts/HeliukBrave.ttf') format('truetype');
}

@font-face {
  font-family: 'HeliukBrave1';
  src: url('/fonts/HeliukRegular.otf') format('opentype');
}

@font-face {
  font-family: 'kanit';
  src: url('/fonts/Kanit-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'kanit-regular';
  src: url('/fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'kanit-medium';
  src: url('/fonts/Kanit-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'kanit-light';
  src: url('/fonts/Kanit-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}


body {
  @apply bg-[#11171f] text-white;
}

/* .card-header {
  @apply text-xl font-medium w-full ;
} */

/* .primary-btn {
  @apply w-full p-2 bg-neutral-900 hover:bg-neutral-500 transition-all font-medium rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-gray-600
}

.critical-btn {
  @apply w-full p-2 bg-red-500 hover:bg-red-600 transition-all font-semibold rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-red-500
} */

.serum-gradient {
  @apply bg-gradient-to-t from-custom-green-200 to-custom-green-500;
}

.focus-style {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-custom-green-200 focus-visible:border-none
}

.highlight-dasboard-text {
  @apply text-amber-500
}

.input {
  @apply rounded-md p-2 bg-neutral-300 focus-style sm:text-sm
}

.input-2 {
  @apply rounded-md p-2 bg-neutral-300 focus-style sm:text-sm
}

.input-label {
  @apply text-xs text-white
}


.invoke-btn {
  @apply font-bold rounded-xl py-2 hover:border-[#00ffdd] flex mt-12 justify-center items-center border border-[#535353] text-[16px] duration-200 ease-in-out;
}

.btn-normal {
  @apply font-bold rounded-xl py-2 hover:border-[#00ffdd] flex justify-center items-center border border-[#535353] text-[16px] duration-200 ease-in-out;
}

.bundler-btn {
  @apply font-bold rounded-xl hover:border-[#00ffdd] flex mt-9 justify-center items-center border border-[#535353] text-[16px] duration-200 ease-in-out;
}

.btn-text-gradient {
  @apply bg-gradient-to-r from-[#3cf19d] to-[#089fb3] bg-clip-text text-transparent;
}

.solape__connect-btn {
  @apply font-bold rounded-3xl h-[40px] flex justify-center items-center text-[16px];
  background: linear-gradient(to right, #5cf3ac 50%, #e9672b 100%);
  border: 1.5px solid #222222;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solape__connect-btn:hover {
  border: 1.5px solid #00ffdd;
}


.settings__connect-btn {
  @apply font-bold rounded-lg bg-[#2c3135] border-[#00ffdd34] border duration-300 ease-in-out;
  isolation: isolate;
}

.solapetext:hover {
  color: #057738;
}

.solapetext span {
  line-height: 23px;
  font-weight: 300;
}

.solapetext {
  background: transparent;
  color: hsla(0, 0%, 100%, .85);
  font-size: 16px;
}

.solapetext span {
  line-height: 23px;
  font-weight: 300;
}



.secondary-btn {
  @apply font-bold rounded-xl h-[35px] hover:border-[#45c7c0] px-5 flex justify-center items-center border border-[#535353] text-[16px] duration-200 ease-in-out bg-gradient-to-r from-[#5cf3eb] to-[#32ff54] bg-clip-text text-transparent;
}

.toast-container .Toastify__toast {
  @apply bg-[#010409] text-white border-2 border-neutral-900 hover:border-l-[#ffffff] rounded-r-xl;
}

.bg-purple-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #ecbef5 -21.24%,
      #e99df0 12.19%,
      #e27deb 29.82%,
      #cf5ce6 51.94%,
      #bd33cf 90.29%);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

@keyframes ellipsis {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

.ellipsis:after {
  content: "";
  animation: ellipsis 1s infinite;
}

.scroll-lock {
  max-height: 100vh;
  overflow: hidden;
}







/* socila media icons */
/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}



.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 1px;
  margin: 5px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 12px;
  background: #000000;
  color: #000000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1c1c1d;
  color: #ffffff;
}


.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background: #24a3e1;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
  background: #5764f2;
  color: #ffffff;
}


/* ------------------------Grid---------------------------------*/

.grid-background {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  background: linear-gradient(45deg, #f3986d, #b3c420);
  width: 100%;
  height: 100vh;
}

.grid-background::before {
  content: "";
  grid-column: span 100;
  grid-row: span 100;
  background:
    linear-gradient(white 1px, transparent 0),
    linear-gradient(90deg, white 1px, transparent 0),
    linear-gradient(45deg, #f3986d, #b3c420);
  background-size: 100px 100px;
}