@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#11171f] text-white ;
  /* background-image: linear-gradient(0deg, transparent 24px, rgba(255, 255, 255, 0.1) 5px, transparent 26px),
    linear-gradient(90deg, transparent 24px, rgba(255, 255, 255, 0.1) 5px, transparent 26px); */
  /* background-size: 330px 330px, 330px 330px, 400px 400px;
  background-position: 70px 0, 0 0, 0 0; */
}

/* .card-header {
  @apply text-xl font-medium w-full ;
} */

/* .primary-btn {
  @apply w-full p-2 bg-neutral-900 hover:bg-neutral-500 transition-all font-medium rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-gray-600
}

.critical-btn {
  @apply w-full p-2 bg-red-500 hover:bg-red-600 transition-all font-semibold rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-red-500
} */

.serum-gradient {
  @apply bg-gradient-to-t from-custom-green-200 to-custom-green-500;
}

.focus-style {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-custom-green-200 focus-visible:border-none
}

.input {
  @apply rounded-md p-2 bg-neutral-300 focus-style sm:text-sm
}

.input-2 {
  @apply rounded-md p-2 bg-neutral-300 focus-style sm:text-sm
}

.input-label {
  @apply text-xs text-white
}


.invoke-btn {
  @apply font-bold rounded-xl h-[40px] hover:border-[#00ffdd] px-5 flex mt-12 justify-center items-center border border-[#535353] text-[16px] duration-200 ease-in-out;
}

.btn-text-gradient{
  @apply bg-gradient-to-r from-[#5cf3ac] to-[#f0b661] bg-clip-text text-transparent;
}

.solape__connect-btn {
  @apply font-bold rounded-3xl h-[40px] flex justify-center items-center text-[16px];
  background: linear-gradient(to right, #5cf3ac 50%, #e9672b 100%);
  border: 1.5px solid #222222;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solape__connect-btn:hover {
  border: 1.5px solid #00ffdd;
}


.settings__connect-btn {
  @apply font-bold rounded-lg bg-[#2c3135] border-[#00ffdd34] border duration-300 ease-in-out ;
  isolation: isolate;
}

.solapetext:hover {
  color: #057738;
}

.solapetext span {
  line-height: 23px;
  font-weight: 300;
}

.solapetext {
  background: transparent;
  color: hsla(0, 0%, 100%, .85);
  font-size: 16px;
}

.solapetext span {
  line-height: 23px;
  font-weight: 300;
}



.invoke-btn-secondary {
  @apply font-bold rounded-md h-[30px] px-5 flex justify-center items-center text-[16px];
  background: linear-gradient(to right, #5ceef3 50%, #4441fd 100%);
  border: 1px solid #535353;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-image 0.5s ease-in-out, border-image 2s ease-in-out, border-radius 0.5s ease-in-out;
}

.invoke-btn-secondary:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #00d9ff;
}

.toast-container .Toastify__toast {
  @apply bg-[#010409] text-white border-2 border-neutral-900 hover:border-l-[#ffffff] rounded-r-xl;
}

.bg-purple-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #ecbef5 -21.24%,
    #e99df0 12.19%,
    #e27deb 29.82%,
    #cf5ce6 51.94%,
    #bd33cf 90.29%
  );
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

@keyframes ellipsis {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
  100% { content: ""; }
}

.ellipsis:after {
  content: "";
  animation: ellipsis 1s infinite;
}
