@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#12151b] text-white;
  /* background-image: linear-gradient(0deg, transparent 24px, rgba(255, 255, 255, 0.1) 5px, transparent 26px),
    linear-gradient(90deg, transparent 24px, rgba(255, 255, 255, 0.1) 5px, transparent 26px); */
  /* background-size: 330px 330px, 330px 330px, 400px 400px;
  background-position: 70px 0, 0 0, 0 0; */
}

.card-header {
  @apply text-xl font-medium w-full;
}

.primary-btn {
  @apply w-full p-2 bg-neutral-900 hover:bg-neutral-500 transition-all font-medium rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-gray-600
}

.critical-btn {
  @apply w-full p-2 bg-red-500 hover:bg-red-600 transition-all font-semibold rounded-md flex items-center justify-center space-x-2 disabled:opacity-50 disabled:hover:bg-red-500
}

.serum-gradient {
  @apply bg-gradient-to-t from-custom-green-200 to-custom-green-500;
}

.focus-style {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-custom-green-200 focus-visible:border-none
}

.input {
  @apply rounded-md p-2 bg-neutral-300 focus-style sm:text-sm
}

.input-2 {
  @apply rounded-md p-2 bg-neutral-300 focus-style sm:text-sm
}

.input-label {
  @apply text-xs text-white
}


/* .solapenav {
  background: linear-gradient(100.61deg, #264653 0%, #264653 100%);
} */

.solape__connect-btn {
  border: 0.5px solid #ffffff;
  color: hsla(0, 0%, 100%, .85);
  font-size: 16px;
  border-radius: 100px;
}
.settings__connect-btn {
  border: 0.5px solid #ffffff;
  background-color: #121b23;
  color: hsla(0, 0%, 100%, .85);
  font-size: 16px;
  border-radius: 5px;
}

.solapetext:hover {
  color: #057738;
}

.solapetext span {
  line-height: 23px;
  font-weight: 300;
}

.solapetext {
  background: transparent;
  color: hsla(0, 0%, 100%, .85);
  font-size: 16px;
}

.solapetext span {
  line-height: 23px;
  font-weight: 300;
}